* {
   margin: 0;
   padding: 0;
}

a {
   margin: 5px;
   padding: 5px;
   color: black;
   text-decoration: none;
   font-size: 18px;
}

html,
body {
	height: 100%;
}

body {
   /* width: 100%; */
   height: 100%;
}

header {
   flex-grow: 0;
   flex-shrink: 0;
   flex-basis: auto;
   display: flex;
	flex-direction: column;
	/* min-height: 100%; */

}

main {
   flex: 1 0 auto;
}


footer {
  flex: 0 0 auto;
}


/* img {
   width: 100%;
   height: auto;
   width: auto\9; 
  }  */

.container {
   width: 100%;
   background-color: rgb(211, 183, 20);
   
}


.header-wrap {
   display: flex;
   justify-content: space-between;
   min-height: 100px;
   /* width: 100%; */
}

.menu {
   display: flex;
   margin: 0px;
   padding: 0px;
   list-style-type: none;
   align-items: center;
}

aside {
   min-width: 210px;
   max-width: 210px;
   min-height: 460px;
}

.left {
   background-color: rgb(199, 152, 185);
   order: 1;
}

.right {
   background-color: rgb(156, 177, 199);
   order: 3;
}

aside.aside1 {
   
   text-align: center;
   margin: 20px 0 20px 0;
   
}


aside.aside2  {
   
   text-align: center;
   margin: 20px 0 20px 0;
   
}


.main {
   display: flex;
   justify-content: space-between;
}



.mid0 {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   order: 3;
}

.all {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
}


h4 {
   margin: 10px 0 10px 0;
   font-weight: normal;
}

.block {
   display: flex;
   margin: 0 20px 0 20px;
   flex-wrap: wrap;
}

.text {
   overflow: scroll;
   overflow-x: hidden;
   height: 160px;
}


.mid1 {
   margin: 0 10px 10px 0;
   flex-grow: 1;
   width: 250px;
   height: 350px;
   /* min-height: 150px; */
   border: 2px solid rgb(156, 177, 199);
   border-radius: 20px;
   text-align: center;
   
}



.mid2 {
   margin: 0 10px 0 0;
   flex-grow: 1;
   width: 250px;
   height: 350px;
   /* min-height: 150px; */
   border: 2px solid rgb(156, 177, 199);
   border-radius: 20px;
   text-align: center;
}

.mid3 {
   flex-grow: 1;
   width: 250px;
   height: 350px;
   /* min-height: 150px; */
   border: 2px solid rgb(156, 177, 199);
   border-radius: 20px;
   text-align: center;
}

.mid4 {
   margin-right: 10px;
   flex-grow: 1;
   width: 250px;
   height: 350px;
   /* min-height: 150px; */
   border: 2px solid rgb(156, 177, 199);
   border-radius: 20px;
   text-align: center;
}

.mid5 {
   margin: 0 10px 0 0;
   flex-grow: 1;
   width: 250px;
   height: 350px;
   /* min-height: 150px; */
   border: 2px solid rgb(156, 177, 199);
   border-radius: 20px;
   text-align: center;
}

.mid6 {
   flex-grow: 1;
   width: 250px;
   height: 350px;
   /* min-height: 150px; */
   border: 2px solid rgb(156, 177, 199);
   border-radius: 20px;
   text-align: center;
}

/* button {
   display: flex;
} */

button.but {
   color: white;
   background: rgb(153, 91, 153);
   padding: 6px 10px;
   border-radius: 15px;
   border: 0px;
   /* text-align: center; */
   bottom: 10px;
   align-items: flex-end;
   
}

.our {
   text-align: center;
   font-size: 30px;
   margin-bottom: 20px;
}

.lorem {
   text-align: center;
   margin: 20px;
}


footer.down {
   background-color: rgb(134, 236, 134);
   text-align: center;
   min-height: 30px;
   
}


.holder {
   margin: 20px;
   display: flex;
   width: 420px;
   height: 200px;
   flex-wrap: wrap;
   border: 3px solid black;
   border-radius: 40px 40px 0 0;
   text-align: center;
}



div.item:nth-child(1) {
   width: 210px;
   border-radius: 40px 0 0 0;
   background-color: rgb(216, 88, 88);
   order: 1;
   padding-top: 50px;
}

div.item:nth-child(5) {
   width: 210px;
   border-radius: 0 40px 0 0;
   background-color: orange;
   order: 2;
   padding-top: 50px;
}

div.item:nth-child(2) {
   width: 140px;
   padding-top: 40px;
   background-color: rgb(0, 247, 255);
   order: 4;
}

div.item:nth-child(3) {
   width: 140px;
   padding-top: 40px;
   background-color: rgb(133, 0, 133);
   order: 3;
}
div.item:nth-child(4) {
   width: 140px;
   padding-top: 40px;
   background-color: green;
   order: 5;
}

