/* blockquote p {color: green;}
li [href^="https://"] {color: red;}
ul :nth-child(n+3) [href^="#"] {background-color: green;}
/* .holder :nth-child(3n) {font-size: 26px;}  
.holder .list :nth-child(3n) {font-size: 16px;} */
/* .list+p {
   font-size: 26px;
}
.text-box h3:nth-child(odd) {color: pink;}
#greycol {color: grey;}
.text-box div p {color: red;}
.text-box :nth-child(7) {color: green;}
.yellow {color: yellow;}
.bg-box {
   background-image: url(../image/img-01.jpg), url(../image/img-03.png), url(../image/img-04.png), url(../image/img-05.png), url(../image/img-02.png); 
   background-color: green; 
   height: 600px; 
   width: 100%; 
   background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y; 
   background-position: center, bottom, top, left, right; 
   background-size: auto, auto 200px, auto 50px, auto 50px, auto 50px;
} */ 
