ul   {
   width: 350px;
   height: 220px;
   padding: 15px 10px 20px 10px;
   margin: 0 0 30px 0;
   background-color: green;
   border-bottom-style: dashed;
   border-color: red;
}

.block {
   width: 800px;
   height: 600px;
   display: block;
   margin: 0 200px 0 0;
   text-align: justify;
   }

.left {
   float: left;
   margin: 0 30px 20px 0;
}

.left::after {
   content		: ".";
	visibility	: hidden;
	display		: block;
	height		: 0;
	clear		: both;
}

.right {
   float: right;
   width: 150px;
   height: 90px;
   margin: 25px 0 20px 20px;
}

.right::after {
   content		: ".";
	visibility	: hidden;
	display		: block;
	height		: 0;
	clear		: both;
}