* {
   padding: 0px;
   margin: 0px;
}

.block {
   background-color: #0d5825;
   width: 800px;
   height: 600px;
   position: relative;
   display: inline-block;
}



.image {
   position: relative;
   width: 150px;
   height: 230px;
   text-align: center;
   transform: rotate(-5deg) translateX(0px) translateY(50px);
   margin-top: 100px;
   z-index: 2;
}

.image:hover {
   transform: rotateX(-20deg);
   transition: 0.3s ease;
}


.imag {
   position: relative;
   width: 150px;
   height: 230px;
   text-align: center;
   margin-top: 100px;
   transform: rotate(-20deg) translateX(80px) translateY(70px);
   z-index: 1;
}

.imag:hover {
   transform: translateX(60px) translateY(0px) rotate(-20deg);
   transition: 0.3s ease;
}

.img {
   position: relative;
   width: 150px;
   height: 230px;
   text-align: center;
   margin-top: 100px;
   transform: rotate(15deg) translateX(-75px) translateY(100px);
   z-index: 3;
   justify-content: center;
   transition: top 0.3s ease;
}

.img:hover {
   transform: translateX(-60px) translateY(0px) rotate(15deg);
   transition: 0.3s ease;
}


.child {
   padding: 10px;
}

div {
   font-size: 25px;
   color: white;
   text-align: center;

}

.container {
   margin-top: 50px;
   width: 150px;
   height: 150px;
}

.box {
   width: 60px;
   height: 60px;
   background-color: lightcoral;
   
}

.sqr {
   width: 60px;
   height: 60px;
   background-color: greenyellow;
   transform: translate(70px, 70px);
   z-index: 500;
}

.kv {
   width: 60px;
   height: 60px;
   background-color: blue;
   transform: translate(-35px, -35px);
}

ul {
   list-style-type: square;
   position: absolute;
   padding: 0 0 0 50px;
   text-decoration: none;
   display: none;
   color: orange;
}

a {
   color: white;
   text-decoration: none;
   display: none;
   padding: 0 0 15px;
}

a:hover {
   color: orange;
}

div.here {
   transform: rotate(90deg);
   transform-origin: center top 0;
   float: left;
   display: block;
   position: absolute;
   font-size: 20px;
   margin-top: 200px;
   left: -20px;
}


.menu:hover .here {
   visibility: hidden;
}

.menu {
   
   background-color: grey;
   width: 50px;
   height: 400px;
   transition: width 0.5s ease 50ms;
  
}

.menu:hover {
   width: 200px;
}

.menu:hover ul {
   transition: all 0.5s ease;
   display: block;
}

.menu:hover a {
   transition: all 0.5s ease;
   display: block;
}

.anim {
   margin-top: 50px;
   width: 500px;
   height: 500px;
   display: flex;
}

.fish {
   width: 80px;
   height: 60px;
   margin: 20px 10px 10px 10px;
   animation: rotate 4s cubic-bezier(0.1,0.25,0.1,1) 0s infinite;
}

@keyframes rotate {
   0% {transform: rotate(90deg);}
   25% {transform: rotate(30deg);}
   50% {transform: rotate(-90deg);}
   75% {transform: rotate(-180deg);}
}

.color {
width: 100px;
height: 100px;
background-color: blue;
animation: transform 4s cubic-bezier(0.1,0.25,0.1,1) 0s infinite;
}

@keyframes transform {
   0% {transform: translateY(0); background-color: blue;}
   25% {transform: translateY(400px);background-color: rgb(93, 174, 189);}
   50% {transform: translateX(400px) translateY(400px); background-color: rgb(89, 107, 167);}
   75% {transform: translateY(0) translateX(400px); background-color: rgb(42, 9, 104);}
}